body{
  background-color: #0f0f0f;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(20, 20, 20, 0.835);
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-family: UT-Sans-TTF;
}

a:hover {
  color: rgb(255, 0, 0);
}

.navbar button {
  font-size: xx-large;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-color: white;
  font-family: UT-Sans-TTF;
  text-decoration: none;
  border-radius: 20px;
}

button:hover{
  color: black;
  background-color: rgb(255, 0, 0);
  transform: scale(1.15);
}

.logo {
  margin-right: 50px;
  background-image: linear-gradient(45deg, #390202, #d40404);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  float: left;
  background-size: 100%;
  font-size: 400%;
  font-family: UT-Sans-TTF;

}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler,
.navbar label {
  display: none;
}

.menu {
  font-size: xx-large;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .ri-menu-line{
    display: block;
    width: 30px;
    height: 2px;
    background: #ff0303bb;
    margin: 6px;
  }

  #toggler:checked~.menu {
    max-height: 100%;
  }
}

.loading{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 270px;
}

.loading .stroke{
  position: relative;
  background: #f1f1f1;
  height: 100%;
  width: 20px;
  border-radius: 40px;
  margin: 0 5px;
  animation: animate 1.2s linear infinite;
  height: 100%;
}


@keyframes animate{ /* Added the @ symbol */
  50%{
    height: 20%;
  }
  100%{
    height: 100%;
  }
}

.stroke:nth-child(1){
  animation-delay: 0s;
}
.stroke:nth-child(2){
  animation-delay: 0.3s;
}
.stroke:nth-child(3){
  animation-delay: 0.6s;
}
.stroke:nth-child(4){
  animation-delay: 0.9s;
}
.stroke:nth-child(5){
  animation-delay: 0.6s;
}
.stroke:nth-child(6){
  animation-delay: 0.3s;
}
.stroke:nth-child(7){
  animation-delay: 0s;
}

.loading_text{
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  font-family: UT-Sans-TTF;
}

.tech_message{
  text-align: center;
  margin-top: 200px;
  color: white;
  font-size: 50px;
  font-family: UT-Sans-TTF;
}

.home_image {
  margin-top: 150px;
  max-width: 800px;
  border-radius: 30px;
  max-width: 100%;
  height: auto;
  display: block;
  float: right;
  padding-right: 230px;
  text-align: center;
}

.home_message1{
  text-align:center;
  margin-top: 270px;
  color: white;
  font-size: 50px;
  font-family: UT-Sans-TTF;
}

.home_message2{
  text-align:center;
  margin-top: 5px;
  color: white;
  font-size: 30px;
  font-family: UT-Sans-TTF;
}